@model Post
@{
    ViewBag.Title = "Show";
}

<h2>@Model.Title</h2>

<div class="show-post">
    @if (!string.IsNullOrEmpty(Model.FeaturedImagePath))
    {
    <img src="@Url.FeaturedImage(Model.FeaturedImagePath)" class="w-100" alt="Post Featured Image" />
    }
    @Html.Raw(Model.Content)
</div>