
@{
    ViewBag.Title = "EmailNotVerified";
}

<h2>Email Not Verified</h2>

<div>
    <p>
        Please confirm your e-mail to login. <a>Click here to re-send a verification code.</a>
    </p>
</div>